# Functions for zsh

# pathmunge VAR_NAME /path/to/stuff (after)
pathmunge() {
    local pathlist
    eval "pathlist=\"\$$1\"" 2>/dev/null || return 1
    case ":$pathlist:" in
        *:"$2":*)
            ;;
        "::")
            eval "export $1=\"$2\"" 2>/dev/null || return 1
            ;;
        *)
            if [ "$3" = "after" ]; then
                eval "export $1=\"$pathlist:$2\"" 2>/dev/null || return 1
            else
                eval "export $1=\"$2:$pathlist\"" 2>/dev/null || return 1
            fi
            ;;
    esac
    return 0
}

function term_resize() {
    echo "resize to $1 $2"
    printf "\e[8;$1;$2t"
}
