alias ll='ls -Fl'
alias la='ls -aFl'

alias emacs='/Applications/Emacs.app/Contents/MacOS/Emacs'
alias em='/Applications/Emacs.app/Contents/MacOS/Emacs -nw'
alias vi='nvim'
alias vim='stty -ixon && vim'
alias diff='colordiff -u'
alias fzf='fzf --preview "highlight -O ansi -l {}"'

function connect_with_user() {
    if [ -v $1 ]; then
        echo 'Missing host!!!!'
    else
        echo "Host:$1"
        LC_USER=$USER ssh -x $1 -t tmux -f '~/.tmux-iTerm.conf' -CC
    fi
}
alias connect='connect_with_user'

function attach_with_user() {
    if [ -v $1 ]; then
        echo 'Missing host!!!!'
    else
        LC_USER=$USER ssh -x $1 -t tmux -f '~/.tmux-iTerm.conf' -CC attach
    fi
}
alias attach='attach_with_user'

