alias ll='ls -Fl'
alias la='ls -aFl'

alias emacs='~/Applications/Emacs.app/Contents/MacOS/Emacs'
alias em='emacs -nw'
alias vi='nvim'
alias vim='stty -ixon && vim'
alias diff='colordiff -u'
alias fzf='fzf --preview "highlight -O ansi -l {}"'
alias ssh='LC_USER=$USER ssh'

alias connect="ssh -x dev -t tmux -f '~/.tmux-iTerm.conf' -CC"
alias attach="ssh -x dev -t tmux -f '~/.tmux-iTerm.conf -CC attach"

