export FZF_DEFAULT_COMMAND='ag -l -g ""'
export FZF_DEFAULT_OPTS='--tiebreak=begin --color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'
export LESS="-RFX"

# by default: export WORDCHARS='*?_-.[]~=/&;!#$%^(){}<>'
# we take out the slash, period, angle brackets, dash here.
export WORDCHARS='*?_-.[]~=&;!#$%^(){}<>'

# Sort listing with Caps first
export LC_COLLATE="C"

export PATH=$PATH:$HOME/bin:$HOME/.local/bin:$HOME/.local/share/bob/nvim-bin
